<div class="col-xs-4">
  <ul>
    <div class="post">
      {{#link-to 'post' post.id}}
        <img class="post-image" src='{{post.photo}}'>
      {{/link-to}}

      <!-- {{post.headline}} -->

    </div>
  </ul>
</div>


{{yield}}
