<div class="col-xs-4">
    <div class="post">
      {{#link-to 'post' post.id}}
        <img class="post-image" src='{{post.photo}}'>
      {{/link-to}}
      <div>
        <h2>{{post.headline}}</h2>
      </div>

    </div>
</div>


{{yield}}
