<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{post.headline}}</h4>
      </div>
      <div class="modal-body">
        <img id="modal-image" src="">
      </div>
      <div>
        <p id="modal-article">

        </p>
        <p>
          <!-- {{#link-to 'post' post.id}}<b>Read more...</b>{{/link-to}} -->
          <a href="">Read more...</a>
        </p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
