<div class="container">
    <div class="row">
      {{#each model as |post|}}
        {{post-tile post=post}}
      {{/each}}
    </div>
</div>

<!-- {{post-modal post=model.firstObject}} -->

{{outlet}}
